version: '3.8'

services:
  agent:
    build:
      context: .
      dockerfile: Dockerfile
    image: agent_node  # Tag for the agent image
    networks:
      - my-network
    depends_on:
      - central  # Explicit dependency on the central service
    env_file:
      - .env-docker # Load environment variables from .env file
    restart: unless-stopped
networks:
  my-network:
    external: true